<%- include header %>
<ul style="list-style:none">
    <li><h3><a href="http://www.baidu.com" target="_blank">百度首页</a></h3>去找度娘</li>
    <li><h3><a href="http://blog.csdn.net/dongshaoshuai" target="_blank">我的CSDN博客</a></h3>这是我的CSDN博客地址</li>  
    <li><h3><a href="http://www.csdn.net/" target="_blank">CSDN首页</a></h3>又到了涨姿势的时候了</li> 
</ul>
<%- include footer %>